!!!
html
  head
    title Zack Dever
    link(type='text/css', rel='stylesheet', href='./css/index.css')
    script(type='text/javascript', src='http://use.typekit.net/hav0ecf.js')
    script(type='text/javascript')
      try{Typekit.load();}catch(e){}
  body
    #grey-strip
    #all
      h1 Hello, world.
      p My name is Zack and I am a software developer,
        <br /><i>aspiring to be</i> avid backpacker, and supporter of the oxford comma.
      p You may find me bumbling around Baton Rouge, Louisiana,
        <br />though you may find the below more expedient.
      #contact
        a(href='http://github.com/zever', title='github.com/zever')
          img(src='/images/github.png').contactlink
        a(href='http://stackoverflow.com/users/962091/zever', title='stackoverflow.com/users/962091/zever')
          img(src='/images/stackoverflow.png').contactlink
        a(href='mailto:zack@zackdever.com', title='zack@zackdever.com')
          img(src='/images/gmail.png').contactlink
        p If you happen to use Basecamp and Chrome, do check out my&nbsp;
          a(href='https://chrome.google.com/webstore/detail/ggkjkkoebodihinoacoocgnkbjojhnpf?utm_source=chrome-ntp-icon'
            title='Basecamp App for Chrome Browser') Basecamp App.
